:root {
  --white: #fff;
  --black: #000;
  --transparent: #ffffff00;

  /* Rich Black */
  --richblack-5: #f1f2ff;
  --richblack-25: #dbddea;
  --richblack-50: #c5c7d4;
  --richblack-100: #afb2bf;
  --richblack-200: #999daa;
  --richblack-300: #838894;
  --richblack-400: #6e727f;
  --richblack-500: #585d69;
  --richblack-600: #424854;
  --richblack-700: #2c333f;
  --richblack-800: #161d29;
  --richblack-900: #000814;

  /* Rich Blue */
  --richblue-5: #ecf5ff;
  --richblue-25: #c6d6e1;
  --richblue-50: #a0b7c3;
  --richblue-100: #7a98a6;
  --richblue-200: #537988;
  --richblue-300: #2d5a6a;
  --richblue-400: #073b4c;
  --richblue-500: #063544;
  --richblue-600: #042e3b;
  --richblue-700: #032833;
  --richblue-800: #01212a;
  --richblue-900: #001b22;

  /* Blue */
  --blue-5: #eaf5ff;
  --blue-25: #b4daec;
  --blue-50: #7ec0d9;
  --blue-100: #47a5c5;
  --blue-200: #118ab2;
  --blue-300: #0f7a9d;
  --blue-400: #0c6a87;
  --blue-500: #0a5a72;
  --blue-600: #074b5d;
  --blue-700: #053b48;
  --blue-800: #022b32;
  --blue-900: #001b1d;

  /* Caribbean Green */
  --caribbeangreen-5: #c1fffd;
  --caribbeangreen-25: #83f1de;
  --caribbeangreen-50: #44e4bf;
  --caribbeangreen-100: #06d6a0;
  --caribbeangreen-200: #05bf8e;
  --caribbeangreen-300: #05a77b;
  --caribbeangreen-400: #049069;
  --caribbeangreen-500: #037957;
  --caribbeangreen-600: #026144;
  --caribbeangreen-700: #014a32;
  --caribbeangreen-800: #01321f;
  --caribbeangreen-900: #001b0d;

  /* Brown */
  --brown-5: #fff4c4;
  --brown-25: #ffe395;
  --brown-50: #ffd166;
  --brown-100: #e7bc5b;
  --brown-200: #cfa64f;
  
  --brown-400: #a07c39;
  --brown-500: #88662d;
  --brown-600: #705122;
  --brown-700: #593c17;
  --brown-800: #41260b;
  --brown-900: #291100;

  /* Pink */
  --pink-5: #fff1f1;
  --pink-25: #fbc7d1;
  --pink-50: #f79cb0;
  --pink-100: #f37290;
  --pink-200: #ef476f;
  --pink-300: #d43d63;
  --pink-400: #ba3356;
  --pink-500: #9f294a;
  --pink-600: #841e3e;
  --pink-700: #691432;
  --pink-800: #4f0a25;
  --pink-900: #340019;

  /* Yellow */
  --yellow-5: #fff970;
  --yellow-25: #ffe83d;
  --yellow-50: #ffd60a;
  --yellow-100: #e7c009;
  --yellow-200: #cfab08;
  --yellow-300: #b69507;
  --yellow-400: #9e8006;
  --yellow-500: #866a04;
  --yellow-600: #6e5503;
  --yellow-700: #553f02;
  --yellow-800: #3d2a01;
  --yellow-900: #251400;

  /* Pure Greys */
  --pure-greys-5: #f9f9f9;
  --pure-greys-25: #e2e2e2;
  --pure-greys-50: #cccccc;
  --pure-greys-100: #b5b5b5;
  --pure-greys-200: #9e9e9e;
  --pure-greys-300: #888888;
  --pure-greys-400: #717171;
  --pure-greys-500: #5b5b5b;
  --pure-greys-600: #444444;
  --pure-greys-700: #2d2d2d;
  --pure-greys-800: #171717;
  --pure-greys-900: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
  color: white;
}
body {
  height: 150vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--richblack-900);
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
header {
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: var(--richblack-800);
  /* border: 1px solid pink; */
}
footer {
  height: 40vh;
  background-color: var(--richblack-800);
}

.main {
  height: 120vh;
  width: 100%;
  display: flex;
}


.navbar {
  height: 80%;
  width: 25%;
  min-width: 15rem;
  background-color: var(--richblack-800);
  margin-top: 20px;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    /* border: 1px solid red; */
  /* border: 1px solid white; */
  
}

#logo-block {
  display: flex;
  justify-content: center;
}
.profile {
  display: flex;
  flex-direction: column;
  height: 50%;
  min-width: 20rem;
  margin-top: 22px;
  border-radius: 8px;
  background-color: var(--richblack-800);
  /* align-items: center;
  position: relative; */
  overflow: hi;
}
#bg-img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.image-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profile-pp {
  position: absolute;
  top: -4rem;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
 
  justify-content: space-evenly;
}
.user-info-outer {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  
}
.user-name {
  color: #001b1d;
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  cursor: pointer;
  
}
.user-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  cursor: pointer;
}
.buttons-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5rem;
}
#profile-btn-1
{
  width: 100%;
  height: 3rem;
  margin: 0 0 1rem 0;
  color: var(--richblack-900);
  font-weight: 600;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}
#profile-btn-2 {
 width: 100%;
  background: linear-gradient(108deg, rgba(255, 235, 5, 0.92) 43%, rgba(255, 154, 0, 0.91) 100%);
  height: 50px;
  transition: background-color 0.5s ease-in-out;
  color: var(--richblack-900);
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(
    108deg,
    rgba(255, 235, 5, 0.92) 43%,
    rgba(255, 154, 0, 0.91) 100%
  );
  transition: background-color 0.5s ease-in-out;
}

#profile-btn-2:hover {
  background: linear-gradient(
    108deg,
    rgba(255, 235, 5, 0.9248074229691877) 13%,
    rgba(255, 154, 0, 0.9051995798319328) 100%
  );
}


.hello {
  width: 60%;
  min-width: 150px;
}
header {
  width: 100%;
  height: 5%;
}
.header-block {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  /* border: 1px solid red; */
}
.header-block-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.search-bar {
  height: 35px;
  width: 250px;
  border-radius: 8px;
  border: none;
  padding: 8px;
  background-color: var(--richblack-700);
}
#search-icn {
  cursor: pointer;
}

input::placeholder {
  color: var(--richblack-100);
}
ul {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
li {
  padding: 5px;
  width: 90%;
  display: flex;
  gap: 25px;
  cursor: pointer;
  align-items: center;
}

ul p {
  color: var(--richblack-100);
}
ul p:hover {
  color: var(--richblack-5);
}

.material-symbols-outlined {
  color: var(--richblack-200);
}
.material-symbols-outlined:hover {
  color: var(--caribbeangreen-50);
}

li {
  height: 40px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: var(--richblack-700);
}

ul li:hover p {
  color: var(--richblack-5);
}

ul li:hover .material-symbols-outlined {
  color: var(--caribbeangreen-200);
}
button {
  background: linear-gradient(
    108deg,
    rgba(0, 210, 137, 1) 28%,
    rgba(3, 182, 208, 1) 100%
  );
  color: var(--richblack-900);
  font-weight: 700;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}

button:hover {
  background: linear-gradient(
    108deg,
    rgba(0, 210, 137, 1) 28%,
    rgba(3, 182, 208, 1) 70%
  );
}
.nav-btn-outer{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid red; */
  padding-bottom: 2rem;
}
#nav-btn-1 {
  width: 100%;
  height: 50px;
}
#nav-btn-2 {
  width: 100%;
  margin-top: 15px;
  height: 50px;
  background: linear-gradient(
    108deg,
    rgba(255, 235, 5, 0.92) 43%,
    rgba(255, 154, 0, 0.91) 100%
  );
}
#nav-btn-2:hover {
  background: linear-gradient(
    108deg,
    rgba(255, 235, 5, 0.9248074229691877) 13%,
    rgba(255, 154, 0, 0.9051995798319328) 100%
  );
}
.hero-section {
  height: 96%;
  background-color: var(--richblack-800);
  margin: 20px;
  padding: 30px;
  width: 100%;
  font-size: 66px;
  font-weight: 900;
  border-radius: 8px;
}

#header-block-left-text {
  font-family: "Kdam Thmor Pro";
  letter-spacing: 3px;
}
#header-block-left-text {
  padding: 10px; 
  color: #fff; 
  transition: color 0.3s ease;
  cursor: pointer;
}

#header-block-left-text:hover {
  color: var(--caribbeangreen-50); 
}

#profile-loc {
  color: var(--richblack-200);
  display: flex;
  align-items: center;
  gap: 3px;
}
#profile-date {
  color: var(--richblack-200);
}
#loc-icon {
  font-size: 15px;
  line-height: 5px;
  vertical-align: middle;
}


.hero-section-images {
  height: 80%;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow: hidden;
  justify-content: center;
  overflow: hidden;
}

.hero-section-images img {
  height: 300px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.hero-section-images img:hover {
  transform: scale(1.03);
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.footer_info {
  display: flex;
  justify-content: center;
  align-items: end;
  /* border: 1px solid red; */
}
#footer-brand {
  display: flex;
  gap: 25px;
}

#footer-brand p {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--richblack-400);
  padding: 8px;
}
@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .main {
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    min-width: unset;
    margin-top: 0;
    height: 100vh;
    
  }

  .profile {
    min-width: 100%;
    margin-top: 0;
    height: 80vh;
  }

  .hello {
    width: 100%;
  }

  .header-block {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .hero-section {
    width: 100%;
    font-size: 36px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .hero-section-images img {
    height: 200px;
  }
  
  footer{
    margin-bottom: 1rem;
    display: none;
  }
  .nav-btn-outer{
    padding: 1rem;
    padding-top: 1rem;
    /* border: 1px solid red; */
    
  }
  .buttons-outer{
    padding: 1rem 1rem;
    
    
  }

}

@media (max-width: 600px) {
  .header-block {
    padding: 10px;
  }

  .search-bar {
    width: 80%;
  }

  .hero-section-images img {
    height: 150px;
  }
  .buttons-outer{
    padding: 1rem 1rem;
  }
}
